<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Syco Incidents</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='cover.css') }}" />

</head>
<body>



<br>
<br>



                <a href="/fp" ><button type="button" style="height:50%; width:50%" class="btn btn-danger btn-lg"><h1>Farepayment PROBLEMS</h1></button></a>
                <a href="/fp_ok" ><button type="button" style="height:50%; width:50%" class="btn btn-success btn-lg"><h1>Farepayment OK</h1></button></a>


                <a href="/rf" ><button type="button" style="height:50%; width:50%" class="btn btn-danger btn-lg"><h1>Rentalfront PROBLEMS</h1></button></a>
                <a href="/rf_ok" ><button type="button" style="height:50%; width:50%" class="btn btn-success btn-lg"><h1>Rentalfront OK</h1></button></a>

                <a href="/eff" ><button type="button" style="height:50%; width:50%" class="btn btn-danger btn-lg"><h1>EFF PROBLEMS</h1></button></a>
                <a href="/eff_ok" ><button type="button" style="height:50%; width:50%" class="btn btn-success btn-lg"><h1>EFF OK</h1></button></a>

                <a href="/pbk" ><button type="button" style="height:50%; width:50%" class="btn btn-danger btn-lg"><h1>PBK PROBLEMS</h1></button></a>
                <a href="/pbk_ok" ><button type="button" style="height:50%; width:50%" class="btn btn-success btn-lg"><h1>PBK OK</h1></button></a>

                <a href="/static" ><button type="button" style="height:50%; width:50%" class="btn btn-danger btn-lg"><h1>STATIC PROBLEMS</h1></button></a>
                <a href="/static_ok" ><button type="button" style="height:50%; width:50%" class="btn btn-success btn-lg"><h1>STATIC OK</h1></button></a>

                <a href="/webres" ><button type="button" style="height:50%; width:50%" class="btn btn-danger btn-lg"><h1>WEBRES PROBLEMS</h1></button></a>
                <a href="/webres_ok" ><button type="button" style="height:50%; width:50%" class="btn btn-success btn-lg"><h1>WEBRES OK</h1></button></a>

                <a href="/all" ><button type="button" style="height:50%; width:50%" class="btn btn-danger btn-lg"><h1>##### ALL SYSTEMS PROBLEMS</h1></button></a>
                <a href="/all_ok" ><button type="button" style="height:50%; width:50%" class="btn btn-success btn-lg"><h1>##### ALL SYSTEMS OK</h1></button></a>


            <h5>Panik this will sms all sysop/developers/managers and tell them to join Skype when we have big incidents</h5>

                <a href="/panic" ><button type="button" style="height:50%; width:50%" class="btn btn-danger btn-lg"><h1>##### PANIC #####</h1></button></a>


          </div>

          <div class="mastfoot">
            <div class="inner">
              <a href="https://github.com/mattiashem/syco-incidents" ><p>Syco  project on github</p></a>
            </div>
          </div>


 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


</body>
</html>