<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Syco Incidents</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='cover.css') }}" />

</head>
<body>



 <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Syco Incidents</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="/">Start</a></li>

              </ul>
            </div>
          </div>

          <div class="inner cover">
            <ul>
                <a href="/fp" ><button type="button" class="btn btn-danger btn-lg">Farepayment PROBLEMS</button></a>
                <a href="/fp_ok" ><button type="button" class="btn btn-success btn-lg">Farepayment OK</button></a>
            </ul>
            <ul>
                <a href="/rf" ><button type="button" class="btn btn-danger btn-lg">Rentalfront PROBLEMS</button></a>
                <a href="/rf_ok" ><button type="button" class="btn btn-success btn-lg">Rentalfront OK</button></a>
            </ul>
            <ul>
                <a href="/eff" ><button type="button" class="btn btn-danger btn-lg">EFF PROBLEMS</button></a>
                <a href="/eff_ok" ><button type="button" class="btn btn-success btn-lg">EFF OK</button></a>
            </ul>
            <ul>
                <a href="/pbk" ><button type="button" class="btn btn-danger btn-lg">PBK PROBLEMS</button></a>
                <a href="/pbk_ok" ><button type="button" class="btn btn-success btn-lg">PBK OK</button></a>
            </ul>
            <ul>
                <a href="/static_e" ><button type="button" class="btn btn-danger btn-lg">STATIC PROBLEMS</button></a>
                <a href="/static_ok" ><button type="button" class="btn btn-success btn-lg">STATIC OK</button></a>
            </ul>
            <ul>
                <a href="/webres" ><button type="button" class="btn btn-danger btn-lg">WEBRES PROBLEMS</button></a>
                <a href="/webres_ok" ><button type="button" class="btn btn-success btn-lg">WEBRES OK</button></a>
            </ul>
             <ul>
                <a href="/all" ><button type="button" class="btn btn-danger btn-lg">##### ALL SYSTEMS PROBLEMS</button></a>
                <a href="/all_ok" ><button type="button" class="btn btn-success btn-lg">##### ALL SYSTEMS OK</button></a>
            </ul>

            <h5>Panik this will sms all sysop/developers/managers and tell them to join Skype when we have big incidents</h5>
                         <ul>
                <a href="/panic" ><button type="button" class="btn btn-danger btn-lg">##### PANIC #####</button></a>
               </ul>

          </div>

          <div class="mastfoot">
            <div class="inner">
              <a href="https://github.com/mattiashem/syco-incidents" ><p>Syco  project on github</p></a>
            </div>
          </div>

        </div>

      </div>

    </div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


</body>
</html>